@model SistemaCalidad.Models.RegisterViewModel

@section Migas{
    <li><a asp-action="Index" onclick="cargando()">Usuario</a></li>
    <li class="active">@ViewData["accion"] </li>
}
<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-9 margin-top-0">
        <h1 class="page-title text-align-center txt-color-blueDark">
            <b>   &nbsp;</b>
        </h1>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-3 margin-top-0">
        <ul id="sparks">
            <li class="sparks-info">
                <a class="btn btn-primary" onclick="cargando()" asp-action="Index"><i class="fa fa-arrow-left"></i> Regresar </a>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="content" class="well no-padding">
            <form asp-action="Gestionar" method="post" novalidate="novalidate" class="smart-form client-form">
                <header>
                    <b> @ViewData["accion"] Usuario </b>
                </header>
                <fieldset>
                    <section>
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                    </section>
                    <section class="col col-sm-4">
                        <label class="label">Correo electr&oacute;nico</label>
                        <label class="input">
                            <i class="icon-append fa fa-envelope"></i>
                            <input type="email" asp-for="Email" placeholder="Correo electrónico">
                            <b class="tooltip tooltip-bottom-right">Ingrese el correo electrónico del usuario</b>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </label>
                    </section>


                    <section class="col col-sm-4">
                        <label class="label">Nombre</label>
                        <label class="input">
                            <i class="icon-append fa fa-user"></i>
                            <input type="text" asp-for="Name" placeholder="Nombres">
                            <b class="tooltip tooltip-bottom-right">Ingrese los nombres del usuario</b>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </label>
                    </section>
                    <section class="col col-sm-4">
                        <label class="label">Apellidos</label>
                        <label class="input">
                            <i class="icon-append fa fa-user"></i>
                            <input type="text" asp-for="LastName" placeholder="Apellidos">
                            <b class="tooltip tooltip-bottom-right">Ingrese los apellidos del usuario</b>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </label>
                    </section>
                    <section class="col col-sm-4">
                        <label class="label">Direcci&oacute;n</label>
                        <label class="input">
                            <i class="icon-append fa fa-home"></i>
                            <input type="text" asp-for="Address" placeholder="Dirección">
                            <b class="tooltip tooltip-bottom-right">Ingrese la dirección del usuario</b>
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </label>
                    </section>
                    <section class="col col-sm-4">
                        <label class="label">T&eacute;lefono</label>
                        <label class="input">
                            <i class="icon-append fa fa-phone"></i>
                            <input type="tel" asp-for="PhoneNumber" placeholder="Teléfono">
                            <b class="tooltip tooltip-bottom-right">Ingrese el télefono del usuario</b>
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </label>
                    </section>
                    <section class="col col-sm-4">
                        <label class="label">Rol del usuario</label>
                        <div class="form-group">
                            <div class="input">
                                <select asp-for="IdRol" class="form-control select2" asp-items="ViewBag.IdRol"></select>
                                <span asp-validation-for="IdRol" class="text-danger"></span>
                            </div>
                        </div>
                    </section>
                    <section class="col col-lg-12">
                        <i></i>&nbsp; ¿ Activo ?
                        <span class="onoffswitch">
                            <input type="checkbox" checked="@Model.Status" asp-for="Status" class="onoffswitch-checkbox" id="st11(@Model.Status)">
                            <label class="onoffswitch-label" asp-for="Status" for="st11(@Model.Status)">
                                <span class="onoffswitch-inner" data-swchon-text="Si" data-swchoff-text="No"></span>
                                <span class="onoffswitch-switch">
                                </span>
                            </label>
                        </span>
                    </section>
                </fieldset>

                <footer>
                    <button type="submit" id="btn-guardar" class="btn btn-primary">
                        Guardar
                    </button>
                    <a asp-action="Index" onclick="cargando()" class="btn btn-default"><strong> Cancelar </strong></a>
                </footer>
            </form>

        </div>
    </div>
</div>
<!-- /.modal -->
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}